#MF-Sign .navbar-signIn
{
    display: none;
}

#MF-Sign
{    
    background-size: cover;
    height: 100vh;
}

.MF-SignUp
{
    background-image: url("../../assets/Avatar-Movie-Poster.jpg"); 
    background-position: top; 
}
.MF-SignIn
{
    background-image: url("../../assets/Aquaman-Movie-Poster.png");  
    background-position: center; 
}

#MF-Sign .MF-Sign-Form 
{
    width: 350px;
    font-family: 'Audiowide', cursive;
    background-color: #396271a8; 
    border-top: 3px solid #ee6580;
}

@media screen and (max-width:425px)
{
    #MF-Sign .MF-Sign-Form 
    {
        width: 320px;
    } 
}

#MF-Sign .MF-Sign-Form button
{
    background-color: #ee6580;
    border: 1px solid #ee6580;
    color: white;
}

#MF-Sign .MF-Sign-Form  button:hover
{
    background-color: #f1486a;
    border-color: #f1486a;
}

#MF-Sign .MF-Sign-Form .Reg-Nw a
{
    color: #f1486a
}

.emailErr , .passErr
{
 color: #e96680;
}