.navbar{
    background-color: #396271c7;
}

.navbar .navbar-signIn button{
    background-color: #ee6580;
    border: 1px solid #ee6580;
    color: white;
}

.navbar .navbar-signIn button:hover
{
    color: #fdfdfd;
    text-decoration: none;
    background-color: #f1486a;
    border-color: #f1486a;
}
.navbar-brand img{
    height: 75px;    
}

.navbar .navbar-FavBtn img ,.navbar .navbar-LogOut img
{
  width: 30px;
  height: 30px;
}