.navbar{
    background-color: #396271c7;
}

.navbar button{
    background-color: #ee6580;
    border: 1px solid #ee6580;
    color: white;
}

.navbar button:hover
{
    color: #fdfdfd;
    text-decoration: none;
    background-color: #f1486a;
    border-color: #f1486a;
}
.navbar-brand img{
    /* background-image: url("../../assets/words_white.png"); */
    /* background-size: cover; */
    /* width: 200px; */
    height: 75px;    
}