#MF-Footer
{
    background-image: linear-gradient(to top, #50646b, #093142);
    height:auto;
}
#MF-Footer .respv-all-Dec
{
    background-image: url("https://secure.static.go.osn.com/images/web-home/2015/11/10/devices.png");
    background-size: cover;
    height: 60vh;
    width: 55%;
}

@media screen and (max-width:768px)
{
    #MF-Footer .respv-all-Dec
    {
        width: 65%;
    }
}

@media screen and (max-width:425px) and (min-width:320px)
{
    #MF-Footer .respv-all-Dec
    {
        height: 32vh;
    }
}

@media screen and (max-width: 320px)
{
    #MF-Footer .respv-all-Dec 
    {
        height: 25vh;
    }
}
.MF-Footer-Cont ul
{
 list-style: none; 
}

.MF-Footer-Cont a
{
    color: white;
}

.MF-Footer-Cont a:hover
{
    color: #ee6580;
}